* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: raleway, sans-serif;
  color: black;
}

/* taille de la police */

html{
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type:none ;
}
fieldset {
  border:none
}

/* ----------------------------*/
nav a {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
}



.logo {
  height: 55px;
  margin-top: 30px;
  margin-left: 5%;

}

.nav-container{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  margin-top: 20px;
  flex-wrap: wrap-reverse;
}

.hebergement-link {
  width: 50%;
  text-align: center;
  border-bottom: solid 3px #0065FC;
  color: #0065FC;
  padding-bottom: 10px;
  position: relative;
  transition: 0,5s;
}

.activity-link {
  width: 50%;
  text-align: center;
  border-bottom: solid 3px #F2F2F2;
  position: relative;
  padding-bottom: 10px;
  transition: 0,5s
  
}

.subscrib-link {
  position: relative;
  bottom: 56px;
  margin-right: 5px;
  color: #0065FC;

}

.titre_container{
  margin: 35px 60px 0 5%;
}

.title_principal {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.title_secondaire {
  font-size: 500;
  font-weight: 1rem;
}
/* Survol des liens  */

.activity-link:hover{
 
  border-bottom: solid 3px #0065FC ;
  color: #0065FC;
}

.subscrib-link:hover {
  color: #0065FC;
  font-weight: bolder;
}

.btn-recherche {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 35px;
  display: flex;
  grid-area: "btn";
}

.icones {
  background-color: #F2F2F2;
  height: 50px;
  width: 50px;
  border-radius: 17% 0% 0% 17%;
  display: flex;
  font-size: large;
}

.icones i {
  margin: auto;
  color: black;
}

.btn-recherche_input{
  height: 50px;
  width: 250px;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 15px;
  border: solid 1px #F2F2F2;
}

.btn-recherche_input_submit {
  visibility: hidden;
}

.btn-recherche_loupe {
  background-color: #0065FC;
  height: 50px;
  width: 50px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 293px;
}
.btn-recherche_loupe i {
  margin: auto;
  color: #F2F2F2;
}

.filter-container{
  flex-wrap: wrap;
  display: flex;
  margin-left: 5%;
  
}

.titre-filtre {
  font-size: 1rem;
  position: absolute;
  margin-left: 5%;
  margin-top: 10px;
}

.filter-item{
  display: flex;
  margin: 10px;
  position: relative;
  top: 25px;
  transition: 0.3s;
}

.filter-item i {
  font-size: medium;
}
.filter-input:hover{
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px black;
  background-color: #0065FC;
  color: #DEEBFF
}
.filter-icones{
  background-color:#DEEBFF ;
  height: 55px;
  width: 55px;
  border-radius: 50px;
  display: flex;
  position: absolute;
  left: -7px;
  top: -2px;
  z-index: 1;
}

.filter-icones i {
  color: #0065FC;
}

.filter-item-formilaire {
  display: flex;
  justify-content: flex-start;
}

.filter-item-formilaire input {
  height: 50px;
  border: solid 1px;
  border-radius: 20px;
  padding-left: 56px;
  font-weight: bold;
}

.eco input {
  width: 155px;
}
.famille input {
  width: 129px;
}
.romantique input{
  width: 154px;
}

.animaux input {
  width: 154px;
}

.filter-icones i {
  margin: auto;
}
.info-container {
  display: flex;
  margin-left: 5%;
  margin-top: 35px;
  margin-bottom: 40px;
  align-content: center;
}

.info {
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 5%;
  font-weight: 400;
}

.icone-info {
  display: flex;
  height: 25px;
  width: 25px;
  border: solid 1px #DEEBFF;
  border-radius: 50%;
}

.icone-info i {
  margin: auto;
  font-size: 0,6rem;
  color: #0065FC;
}

.fas {
  font-size: 0,7rem;
  color: #f2f2f2;
}
.étoile-blue i {
color: #0065FC;
}

aside {
  background-color: #F2F2F2;
}

.aside-titre {
  display: flex;
  align-items: center;
  margin-left: 6%;
  margin-bottom: 25px;
  justify-content: space-between;

}

.aside-titre h2 {
  margin-top: 30px;

}
.aside-titre i {
  color: black;
  font-size: 1.3rem;
  margin-right: 20px;
}

.photos-aside-content {
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.photos-aside {
  display: flex;
  background-color: white;
  max-width: 335px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 17px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 15px darkgray;
  transition: 0,3s;
}

.photos-aside-body {
position: relative;
margin: 15px 15px 5px 15px;
}

.hébergement-body {
  margin-left:  15px;
}

.titre-photo-aside, .hébergement-corps , .corps-activité {

  font-size: 1rem;

}
.corps-activité{
  margin-left: 18px;
  margin-top: 20px;
  padding-bottom: 15px;
}
.prix-aside , .hebergement-corps-prix {
  font-size: 0.8rem;
  font-weight: 400;

}

.note-aside {
  position:absolute;
  top: 70px;
}

.aside-thumb {
  object-fit: cover;
  height: 115px;
  width: 128px;
  padding: 5px;
  border-radius: 17px;
}

.photos-aside:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0 40px -10px black;
}

.note-aside {
  display: flex;
}

.hebergement-title {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 6%;
}

.hébergement-photo {
  background-color: white;
  max-width: 335px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 17px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px rgb(111,111, 111);
  transition: 0.3s;
}

.hébergement-body-note {
  display: flex;
}

.hebergement-thumb {

  object-fit: cover;
  height: 115px;
  width: 100;
  padding: 5px;
  border-radius: 17px 17px 0px 0px;
}

.hébergement-photo:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px black;
}

.more {
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: 25px;
}

.more:hover {
  color: #0065FC;
} 

#activity {
  margin-top: 60px;
}

.activité-titre {
  margin-left: 6%;
  margin-bottom: 30px;
}

.activité-photo {
  background-color: white;
  max-width: 335px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 17px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px darkgray;
  transition: 0,3s;
}

.activité-photo:hover{
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px black;

}

.activité-thumb {
  object-fit: cover;
  height: 136px;
  width: 100%;
  border-radius: 17px 17px 0px 0px;
}

.footer_body {
  margin-left: 5px;
}

footer {
width: 100%;
background-color: #f2f2f2;
padding: 30px
}

.liste-élément {
  margin-top: 30px;
  margin-bottom: 30px;
}

.liste-élément a:hover {
  color: #0065FC;
}

@media only screen and (min-width:900px) {
  .bloc.page {
    width:100%;
    display:grid;
    grid-template-columns: 3.5 60% 40px 3.5%;
    grid-template-areas: "header header header header header"
    "search search search search search"
    "filter filter filter filter filter" ".main .aside "
    "activity activity activity"
  "footer footer footer footer footer";

  }
  header {
    grid-area: "header";
  }
  .search {
    grid-area: "search";
  }
  .filter {
   grid-area: "filter"
  }
  main {
    background-color: #f2f2f2;
    height: auto;
    border-radius: 17px;
    grid-area: "main";
    width: 95%;
    
  }
  aside {
    height: auto;
    border-radius: 17px;
    grid-area: "aside";
    max-width: 340px;
    margin-left: 40px;
    margin-right: 5%;
  }
  #activity {
    grid-area: "activity";
  }
  footer {
    grid-area: "footer";
    width: 100%;
  }
}


.nav-contenu {
  flex-wrap: nowrap;
  position: relative;
  top: -109px;
}

.inscription-lien {
  position: initial;
  margin-left: 75px;
  padding-top: 40px;
}

.activités-lien:hover {
  border-bottom: none;
  border-top: solid 3px #0065FC;
  color: #0065FC;
}

.inscription-lien:hover {
  color: #0065FC;
}

.titre-contenu {
  margin-top: -70px;
}

.btn-recherche_input_submit {
  visibility: visible;
  position: absolute;
  height: 50px;
  border: none;
  border-radius: 0px 16px 16px 0px;
  background-color: #0065FC;
  color: #f2f2f2;
  font-weight: bold;
  padding: 15px;

}

.btn-recherche_loupe {
  visibility: hidden;
}
.hebergement-photo-contenu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax (240px, 1fr);
}

.filter-container {
  display: flex;
}

.cards-activity-content {
  display: grid;
  grid-template-columns: 3,5% 20% 1fr 20% 1fr 20% 3,5%;
  grid-template-rows: 2fr;
}

.port {
  grid-column-start: 2;
  grid-row-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

.port img {
  height: 305px;
}

.fort {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.ile {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}

.parc {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}

.parc img {
  height: 305px;
}

.notre {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;

}

.parc2 {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;
}